.animation-container {
  width: 100%;
  height: 100%;
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.unit {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fde981;
  border-radius: 50%;
  // prettier-ignore
  box-shadow: 
    0 0 10px #73af40, 
    0 0 15px #5e9f3d, 
    0 0 20px #73af40,
    0 0 25px #5e9f3d;
}
