.board {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.board > .grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 150px));
  grid-gap: 20px;
  justify-content: center;
}

@media (max-width: 600px) {
  .board > .grid-container {
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-gap: 5px;
  }
}
