@import "variables";

.title {
  margin: 10px auto;
  font-family: "customFont";
  text-align: center;
  color: $blue-color;
  // prettier-ignore
  text-shadow: 
    1px 1px 0 $green-color;
  img {
    width: 300px;
    //-webkit-filter: drop-shadow(-5px -5px 5px #000); //por ejemplo
    //filter: drop-shadow(0 0 5px #fff); //por ejemplo
    animation: title 3s linear infinite alternate;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  button {
    color: $blue-color;
    padding: 5px 10px;
    border: 1px solid $blue-color;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  //font-size: 40px;
}
