.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(black, 0.6);

  animation: test 200ms linear;
}

@keyframes test {
  from {
    transform: scale(0);
    opacity: (0);
  }
  to {
    transform: scale(1);
    opacity: (1);
  }
}

.win-condition {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 #121212;
  background: white;
  button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
  }
}
